<h1>List of Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody *ngFor="let p of products" class="container-fluid">
        <tr>
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
            <td>{{p.price}}</td>
            <td>{{p.description}}</td>
            <td> <button routerLink="remove" (click)=removeproduct(p.id)>Remove</button> </td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>